<ion-modal-view class="edit-children">
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title"
        ng-if="user.children.length > 1">
        Edit your children's info
    </h1>
    <h1 class="title"
        ng-if="user.children.length === 1 || user.children.length === 0">
        Edit your child's info
    </h1>
  </ion-header-bar>
  <ion-content class="content-body">
      
    <a class="button cancel" ng-click="">Cancel</a>  
    <a class="button save" ng-click="editChildren(user.children)">Save</a>
  </ion-content>
</ion-modal-view>
