<ion-modal-view class="add_event_modal">
  <ion-header-bar class="add_event_header white-font bar-header bar-positive calendar-form">
    <button class="close-calendar button button-clear button-positive" ng-click="closeModal()">
      <i class="icon ion-close"></i>
    </button>
    <input type="text"
           placeholder="Enter title"
           ng-model="event.event_title"
           autofocus="true">
    <button class="button button-clear button-positive" form="eventForm" type="submit">SAVE</button>
  </ion-header-bar>
  <ion-content>
    <form class="col-md-6 add_event" 
          id="eventForm"
          ng-submit="saveEvent(event)"
          name="newEventForm">
      <span class="event_dates">
        <i class="icon ion-android-time"></i>
        <md-input-container>
            <input mdc-datetime-picker
                   date="true"
                   time="false"
                   type="text"
                   class="start_date"
                   min-date="minDate"
                   format="ddd, MMM DD, YYYY"
                   ng-model="eventStartDate"
                   aria-label="Start date">
        </md-input-container>
        <md-input-container>
            <input mdc-datetime-picker
                   date="true"
                   time="false"
                   type="text"
                   class="end_date"
                   min-date="minDate"
                   format="ddd, MMM DD, YYYY"
                   ng-model="eventEndDate"
                   aria-label="End Date">
        </md-input-container>
      </span>
      <span class="event_times">
        <md-input-container>
            <input mdc-datetime-picker
                   date="false"
                   time="true"
                   type="text"
                   short-time="true"
                   min-date="minDate"
                   format="h:mm a"
                   ng-model="eventStartTime"
                   aria-label="Start time">
        </md-input-container>
        <md-input-container>
            <input mdc-datetime-picker
                   date="false"
                   time="true"
                   type="text"
                   short-time="true"
                   min-date="minDate"
                   format="h:mm a" 
                   ng-model="eventEndTime"
                   aria-label="Start time">
        </md-input-container>
      </span>
      
      <hr>
      <i class="icon ion-location"></i>
        <input type="text" 
               placeholder="Location" 
               location-suggestion 
               location="location" 
               ng-model="location.formatted_address">
      
      <hr>
      <i class="icon ion-android-people"></i>
      <select contactpicker
              multi="true"
              model="invitees"
              placeholder="Invite guests"
              value-attr="email">
      </select>

      <hr class="drive_hr">
      <div class="drive_wrapper">
        <i class="icon-google-drive2"></i>
        <a class="add-attachment" 
           href="javascript:;" 
           lk-google-picker 
           on-picked="onPicked(docs)" 
           on-loaded="onLoaded()" 
           on-cancel="onCancel()">Add attachment</a>
      </div>

      <hr class="post_drive_hr">
      <div class="volunteers">
        <span class="event_dates">
          <i class="icon volunteer"></i>
          <label for="setup-volunteers">Set up volunteers:
            <input class="volunteer_count"
                   type="number"
                   name="setup-volunteers"
                   ng-keyup="hasSetup()"
                   ng-model="event.setup_volunteers_needed"
                   placeholder="How many?">
          </label>
          <md-input-container ng-if="event.setup_volunteers_needed">
              <input mdc-datetime-picker
                     date="true"
                     time="false"
                     type="text"
                     class="start_date"
                     min-date="minDate"
                     format="ddd, MMM DD, YYYY"
                     placeholder="Start date" 
                     ng-model="setupStartDate"
                     aria-label="Set up start date">
          </md-input-container>
          <md-input-container ng-if="event.setup_volunteers_needed">
              <input mdc-datetime-picker
                     date="true"
                     time="false"
                     type="text"
                     class="end_date"
                     min-date="minDate"
                     format="ddd, MMM DD, YYYY"
                     placeholder="End date" 
                     ng-model="setupEndDate"
                     aria-label="Setup end date">
          </md-input-container>
        </span>
        <span class="event_times">
          <md-input-container ng-if="event.setup_volunteers_needed">
              <input mdc-datetime-picker
                     date="false"
                     time="true"
                     type="text"
                     short-time="true"
                     min-date="minDate"
                     format="hh:mm a"
                     placeholder="Start time" 
                     ng-model="setupStartTime"
                     aria-label="Set up start time">
          </md-input-container>
          <md-input-container ng-if="event.setup_volunteers_needed">
              <input mdc-datetime-picker
                     date="false"
                     time="true"
                     type="text"
                     short-time="true"
                     min-date="minDate"
                     format="hh:mm a"
                     placeholder="End time" 
                     ng-model="setupEndTime"
                     aria-label="Setup end time">
          </md-input-container>
        </span>
        <label for="op-volunteers">Event volunteers:
          <input class="volunteer_count" 
                 type="number"
                 name="op-volunteers"
                 ng-model="event.volunteers_needed"
                 placeholder="How many?">
        </label>
        <label for="cleanup-volunteers">Clean up volunteers:</label>
        <input class="volunteer_count"
               type="number"
               name="cleanup-volunteers"
               ng-keyup="hasCleanup()"
               ng-model="event.cleanup_volunteers_needed"
               placeholder="How many?">
        <span class="event_dates" ng-if="event.cleanup_volunteers_needed">
          <md-input-container>
              <input mdc-datetime-picker
                     date="true"
                     time="false"
                     type="text"
                     class="start_date"
                     min-date="minDate"
                     format="ddd, MMM DD, YYYY"
                     placeholder="Start date" 
                     ng-model="cleanupStartDate"
                     aria-label="Cleanup start date">
          </md-input-container>
          <md-input-container>
              <input mdc-datetime-picker
                     date="true"
                     time="false"
                     type="text"
                     class="end_date"
                     min-date="minDate"
                     format="ddd, MMM DD, YYYY"
                     placeholder="End date" 
                     ng-model="cleanupEndDate"
                     aria-label="Cleanup end date">
          </md-input-container>
        </span>
        <span class="event_times" ng-if="event.cleanup_volunteers_needed">
          <md-input-container>
              <input mdc-datetime-picker
                     date="false"
                     time="true"
                     type="text"
                     short-time="true"
                     min-date="minDate"
                     format="hh:mm a"
                     placeholder="Start time" 
                     ng-model="cleanupStartTime"
                     aria-label="Cleanup start time">
          </md-input-container>
          <md-input-container>
              <input mdc-datetime-picker
                     date="false"
                     time="true"
                     type="text"
                     short-time="true"
                     min-date="minDate"
                     format="hh:mm a"
                     placeholder="End time"  
                     ng-model="cleanupEndTime"
                     aria-label="Cleanup end time">
          </md-input-container>
        </span>
      </div>
      <hr>

      <i class="icon-note"></i>
      <textarea cols="30" 
                rows="5"
                placeholder="Add note"
                ng-model="event.description" 
                required>
      </textarea>
      <hr>
    </form>
  </ion-content>
</ion-modal-view>