<ion-view class="admin_interact" view-title="Manage Volunteers - {{thisEvent.date._d | date:'EEE M/d'}}">
  <div class="bar bar-subheader bar-stable">
    <div class="event-times">
      <div class="primary-green white-font event-segment"
           ng-style="{ width: (thisEvent.setup_total/thisEvent.total_time * 100) + '%' }">
           Setup 
           <br> 
           {{thisEvent.setup_start._d | date: 'ha'}} - {{thisEvent.setup_end._d | date: 'ha'}}
      </div>
      <div class="primary-blue white-font event-segment"
           ng-style="{ width: (thisEvent.event_total/thisEvent.total_time * 100) + '%'}">
           Event
           <br>
           {{thisEvent.event_start._d | date: 'ha'}} - {{thisEvent.event_end._d | date: 'ha'}}
      </div>
      <div class="primary-red white-font event-segment"
           ng-style="{ width: (thisEvent.cleanup_total/thisEvent.total_time * 100) + '%'}">
           Cleanup
           <br>
           {{thisEvent.cleanup_start._d | date: 'ha'}} - {{thisEvent.cleanup_end._d | date: 'ha'}}
      </div>
    </div>
  </div>
  <ion-content has-subheader="true" class="has-header">
    <div class="volunteers-wrapper">
      <div class="volunteer"
           ng-repeat="volunteer in thisHoursVolunteers track by $index">
           <div class="event-times bar-stable">
             <div class="volunteer-times primary-orange"
                  ng-style="{width: ((volunteer.total_time/thisEvent.total_time) * 100) + '%',
                             'margin-left': volunteer.marginLeft }">
                             Scheduled<br>
               {{volunteer.start._d | date: 'ha'}} - {{volunteer.end._d | date: 'ha'}}
             </div>
           </div>
           <img expire="{{30}}" ng-src="{{volunteer.user.pic}}">
           <a class="chat-btn"
              ng-if="volunteer.user.$id !== user.$id" 
              ng-click="createRoom(thisHoursVolunteers, thisEvent, volunteer)">
              <i class="icon ion-chatboxes"></i>
            </a>
            <!--  <email-btn recipient="volunteer.user.email" prepend="Volunteering at" append="thisEvent.title"> -->
           <h4>{{volunteer.user.name}}</h4>
      </div>
    </div>
  </ion-content>
  <div class="footer-bar">
    <div id="chatwarp">Chat</div>
    <a class="chat-btn chat-all" ng-click="groupChat(thisEvent)">
      <i class="icon ion-chatboxes"></i>
    </a>
    <div id="allwarp">All</div>
  </div>
</ion-view>