<ion-view ng-class="{'has-subject': subject}">
    <ion-nav-title> 
        <div ng-if="subject">
            {{subject}}
        </div>
        <div>
            {{roomName}}
        </div>
    </ion-nav-title> 
    <ion-content class="chat-room"
                 on-swipe-left="slide($event)"
                 on-swipe-right="slide($event)">
        <div ng-hide="chats" class="no-messages">
            <i class="icon ion-loading-c"></i> Loading Chats
        </div>
        <div ng-if="chats.length == 0" class="no-messages">
            <h4>No messages in this room. Send a message to get the conversation started.</h4>
        </div>
        <div ng-repeat="chat in chats"
             ng-class="{'user': chat.userId === user.$id}"
             class="messages">
            <div class="chatter-pic-wrapper">
                <img class="chatter-pic single-pic"
                     expire="{{30}}"
                     ng-src="{{chat.pic}}"
                     ng-if="chat.pic.length > 1">
                <div class="chatter-initial single-pic"
                     ng-if="chat.pic.length === 1">
                     {{chat.pic}}
                </div>
            </div>
            <div class="message">
                <span>{{ chat.message }}</span>
            </div>
            <div ng-class="{'user-time': chat.userId === user.$id, 'time': chat.userId !== user.$id}">
                {{chat.createdAt | formatDate }}
            </div>
        </div>
    </ion-content>    
    <div class="footer-bar">
        <div class="sub-bar">
            <input type="text" ng-model="IM.textMessage" placeholder="Write a message">
        </div>
        <div class="sub-bar bottom">
            <button ng-click="sendMessage()" class="send-button">
                <i class="icon ion-android-send"></i>
            </button>
        </div>
    </div>
</ion-view>

