<ion-view class="contact" view-title="Contact Apparent">
  <div class="contact-header bar-subheader">
    <h3>Parenting is a tough job.</h3> 
    <pre class="message">At Apparent we're working hard to make it a little easier.</pre>
  </div>
  <ion-content>
    <ion-list>
      <ion-item>
        <h4>Found a bug?</h4>
        <button class="button bug">
          Report
          <i class="ion-bug"></i>
        </button>
        <p>Let us make it right.</p>
      </ion-item>
      <ion-item>
        <h4>Know an improvement?</h4> 
        <button class="button idea">
          Suggest
          <i class="ion-ios-lightbulb"></i>
        </button>
        <p>We want to hear about it.</p>
      </ion-item>
      <ion-item>
        <h4>Love Apparent?</h4>
        <button class="button love">
          Share
          <i class="ion-heart"></i>
        </button>
        <p>Please share it!</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="powered-by">
      Powered by
      <img class="apparent-logo" src="img/apparent_noTagline.svg">
    </div>
  </ion-footer-bar>
</ion-view>