<ion-view class="contact" view-title="Contact Apparent">
  <div class="contact-header bar-subheader">
    <h3>Parenting is a tough job.</h3> 
    <pre class="message">At Apparent we're working hard to make it a little easier.</pre>
  </div>
  <ion-content>
    <ion-list>
      <!-- <ion-item>
        <h4>Found a bug?</h4>
        <a class="button bug">
          Report
          <i class="ion-bug"></i>
        </a>
        <p>Let us make it right.</p>
      </ion-item> -->
      <ion-item>
        <h4>Know an improvement?</h4> 
        <a class="button idea"
           ng-click="showFeedbackPopup($event)">
          Suggest
          <i class="ion-ios-lightbulb"></i>
        </a>
        <p>We want to hear about it.</p>
      </ion-item>
      <ion-item>
        <div class="coming-soon">
          <h4>Coming Soon!
            <i class="icon ion-android-happy"></i>
          </h4>
          <pre>In the meantime kick it old school and tell a friend!</pre> 
        </div>
        <h4>Love Apparent?</h4>
        <a class="button love"
           ng-click="openPopover($event, socialPopover)">
          Share
          <i class="ion-heart"></i>
        </a>
        <p>Share it!</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="powered-by">
      Powered by
      <img class="apparent-logo" src="img/apparent_noTagline.svg">
    </div>
  </ion-footer-bar>
</ion-view>