<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Manage Event</h1>
  </ion-header-bar>
  <ion-content>
    <div style="padding: 30px 20px" id="wr">
      <p>{{ editAppointmentDetails.repairDetails.repair_description }}</p>
      <p>{{ editAppointmentDetails.startTimeDisplay }} - {{ editAppointmentDetails.endTimeDisplay }}</p>
    </div>
    <div class="mng_btns">
     <!--  <button class="button button-large" ng-click="printAppointment()">
        PRINT 
        <i class="icon ion-printer"></i>
      </button>
      <button class="button button-large" ng-click="emailAppointment()">
        EMAIL
        <i class="icon ion-email"></i>
      </button>
      <button class="button button-large" ng-click="editAppointment()" ng-hide="pastJob">
        EDIT
        <i class="icon ion-edit"></i>
      </button>
      <button class="button button-large" ng-click="deleteAppointment()" ng-hide="pastJob">
        DELETE
        <i class="icon ion-trash-a"></i>
      </button> -->
    </div>
  </ion-content>
</ion-modal-view>