<ion-view title="Get Involved">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>
    <ion-list class="events">
      <ion-item ng-repeat="event in calEvents">
        <h2 class="event_title">{{event.title}}</h2>
        <img class="event_img"
             expire="{{30}}"
             ng-src="{{event.image}}"
             ng-show="event.image"></img>
        <p class="event_description">{{event.description}}</p>
        <h4 class="needed" ng-show="event.volunteer_hours">Volunteer Hours</h4>
        <div class="no-volunteers"
             ng-if="event.volunteers_needed && !event.covered_hours"> No volunteers yet. Be the first!</div>
        <div class="hours-needed"
             ng-if="event.covered_hours">
          <div class="hours-covered"
               ng-style="{width: ((event.covered_hours/event.volunteer_hours) * 100) + '%'}">{{event.covered_hours}}</div>
        </div>
        <button class="button button-small button-balanced"
                ng-show="event.volunteer_hours"
                ng-click="showEvent(event)">
                Help Out
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
