<ion-view view-title="Get Involved">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content>
    <ion-list class="events">
      <ion-item ng-repeat="event in calEvents">
        <div class="event-header">
          <h2 class="event-title">{{event.title}}</h2>
          <h4>{{event.event_start | amDateFormat : 'ddd MMM Do h:mma'}} - {{event.event_end | amDateFormat : 'h:mma'}}</h4>
        </div>
        <div class="cf">
          <img class="event-img"
               ng-src="{{event.cover_photo_url}}"
               ng-show="event.cover_photo_url"></img>
          <p class="event_description">{{event.description}}</p>
        </div>
        <h4 class="location" style="display:block;"ng-show="event.location">{{event.location}}</h4>
        <h4 class="needed" ng-show="event.volunteer_hours">Volunteer Hours</h4>
        <div class="no-volunteers"
             ng-if="event.volunteers_needed && !event.covered_hours"> No volunteers yet. Be the first!</div>
        <div class="hours-needed"
             ng-if="event.covered_hours">
        <div class="hours-covered"
             ng-style="{width: ((event.covered_hours/event.volunteer_hours) * 100) + '%'}">{{event.covered_hours}}</div>
        </div>
        <button class="button button-small button-balanced"
                ng-show="event.volunteer_hours"
                ng-click="showEvent(event)">
                Help Out
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
