<ion-view class="login" title="Login User" hide-back-button=true>
  <ion-nav-bar class="header">
    <img class="apparent" src="img/apparent_v2.svg">
  </ion-nav-bar>
  <ion-content class="padding login-content" scroll="false">
    <p class="current-user">
      Not registered?
      <a ui-sref="signup"> Create an account</a>
    </p>
    <p class="error" ng-if="showMessage">{{ errorMessage }}</p>
    <form name="loginForm" class="card">
        <div class="form-group">
          <label for="email" class="control-label">Email
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              ng-model="credentials.email"
              ng-model-options="{updateOn: 'blur'}"
              required>
          </label>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password
            <input
              type="{{inputType}}"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              ng-model="credentials.password"
              required>
              <div class="visibility" type="button" on-touch="hideShowPassword()" ng-hide="isShown">
                <i class="fa fa-fw fa-eye eye-icon"></i>
              </div>
              <div class="visibility" type="button" on-touch="hideShowPassword()" ng-show="isShown">
                <i class="fa fa-fw fa-eye-slash eye-icon"></i>
              </div>
          </label>
          <a class="forgot-password" ng-click="confirmReset()">Forgot password?</a>
        </div>
        <button ng-click="loginSubmit(loginForm)" class="button button-block button-small" type="button">Login</button>
    </form>
    <div class="policy-wrapper">
      <a ng-click="openPP()">Privacy Policy</a>
    </div>
  </ion-content>
  <ion-footer-bar>
    <img src="img/students.jpg">
  </ion-footer-bar>
</ion-view>