<ion-view hide-back-button="true">
  <ion-nav-title class="calendar-date">
    <h3 class="calendar-title">{{calendarTitle}}</h3>
    <h4 class="calendar-subtitle">{{titleDate}}</h4>
  </ion-nav-title> 
  <ion-content class="has-header calendar">
    <div class="btn-toolbar" ng-if="$root.isAdmin && !isVolunteerSignup">
      <button type="button" class="btn btn-default cal_view_btn" ng-class="{active:mode==='month'}" ng-click="changeMode('month')">
          Month
      </button>
      <button type="button" class="btn btn-default cal_view_btn" ng-class="{active:mode==='week'}" ng-click="changeMode('week')">
          Week
      </button>
      <button type="button" class="btn btn-default cal_view_btn" ng-class="{active:mode==='day'}" ng-click="changeMode('day')">
          Day
      </button>
      <button type="button" class="btn btn-default cal_view_btn" ng-disabled="isToday()" ng-click="today()">
          Today
      </button>
    </div>
    <label class="item item-input item-select role-filter" ng-if="$root.isAdmin && !isVolunteerSignup">
      <div class="input-label">
          Filter by Volunteer Role
      </div>
      <select ng-options="option.type as option.label for option in eventTypes" 
              ng-model="itemSelected.type" 
              ng-change="reloadEvents()"
              ng-init="itemSelected.type='all'">
      </select>
    </label>
    <div class="well well-sm">
      <calendar ng-model="currentDate" calendar-mode="mode" event-source="filteredEvents" range-changed="reloadSource(startTime, endTime)" event-selected="onEventSelected(event)"></calendar>
    </div>
  </ion-content>
</ion-view>
