<script type="text/ng-template" id="dropdown"><img ng-src="user.pic">{{user.name}}</script>
<script type="text/ng-template" id="selector">{{user.name}}</script>
<ion-view class="role-management" title="Edit Admin Roles">
  <ion-content class="padding">
    <div>
      <table class="role-table">
        <thead class="table-head">
          <tr>
            <th class="head-cell">Role</th>
            <th class="head-cell">User</th>
            <th class="head-cell">Remove</th>
          </tr>
        </thead>
        <tbody id="role-tbody">
          <tr class="role" ng-repeat="(roleIndex, role) in roles">
            <td>
              <input type="text"
                     class="role-name"
                     ng-blur="roles.$save(role)"
                     ng-model="role.title"
                     placeholder="ie President or Chair">
            </td>
            <td>
              <img class="role-pic"
                   expire="{{30}}"
                   ng-src="{{role.user_pic}}"
                   ng-hide="showOptions">
              <input class="parent-search"
                      ng-keyup="filterParents($event)"
                      ng-model="role.user_name"
                      ng-focus="showOptions = true;startRoleSearch(roleIndex)"
                      ng-blur="showOptions = false" 
                      off-click-filter="'.options-wrapper'"
                      off-click="endRoleSearch()"
                      placeholder="Role assignee">
              <div ng-show="showOptions && filteredParents.length > 0"
                   class="options-wrapper">
                <div class="options"
                     ng-repeat="(parentIndex, parent) in filteredParents | limitTo: 10"
                     ng-click="confirmChange(parent, role, roles)">
                  <img expire="{{30}}"
                       ng-src="{{parent.pic}}">
                  <span class="parent-name">{{parent.name}}</span>
                </div>
              </div>
            </td>
            <td class="remove-role">
              <a class="remove-button button button-assertive button-small"
                 ng-click="removeRole(role)">
                <i class="icon ion-android-person-subtract"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <a id="add-role"
         class="add-button"
         ng-click="addRole()">
        <i class="icon ion-android-person-add"></i>
        <div id="adminwarp">Admin</div>
      </a>
    </div>
    <!-- <div class="note-wrapper cf">
      <h4 class="note-callout">Note:</h4>
      <p class="note">Add role names here for those who you want to have admin rights.</p>
    </div>
    <div class="note-wrapper cf">
      <h4 class="note-callout">Note:</h4> 
      <p class="note">Changing the user for an existing role revokes their rights and assigns a new user</p>
    </div>  -->
  </ion-content>
  <div class="powered-by">
    Powered by
    <img class="apparent-logo" src="img/apparent_noTagline.svg">
  </div>
</ion-view>







