<ion-view class="role-management"  hide-back-button="true">
  <ion-nav-title>Admin Roles</ion-nav-title>
  <ion-nav-buttons side="left" >
    <button ng-if="$root.isAdmin && user.school" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="goHome()">
      <i class="icon ion-home"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div>
      <table class="role-table">
        <thead class="table-head">
          <tr>
            <th class="head-cell">Role</th>
            <th class="head-cell">User</th>
            <th class="head-cell">Remove</th>
          </tr>
        </thead>
        <tbody id="role-tbody">
          <tr class="role" ng-repeat="(roleIndex, role) in roles">
            <td>
              <input type="text"
                     class="role-name"
                     ng-blur="roles.$save(role)"
                     ng-model="role.title"
                     placeholder="ie President or Chair">
            </td>
            <td>
              <div ng-if="role.user_pic.length > 1">
                  <img class="role-pic"
                       expire="{{30}}"
                       ng-src="{{role.user_pic}}"
                       ng-hide="showOptions">
              </div>
              <div class="role-pic user-initial"
                   ng-if="role.user_pic.length === 1"
                   ng-click="getImage()">
                   {{ user.pic }}
              </div>
              <input class="parent-search"
                      ng-keyup="filterParents($event)"
                      ng-model="role.user_name"
                      ng-focus="showOptions = true;startRoleSearch(roleIndex)"
                      ng-blur="showOptions = false" 
                      off-click-filter="'.options-wrapper'"
                      off-click="endRoleSearch()"
                      placeholder="Role assignee">
              <div ng-show="showOptions && filteredParents.length > 0"
                   class="options-wrapper">
                <div class="options"
                     ng-repeat="(parentIndex, parent) in filteredParents | limitTo: 10"
                     ng-click="confirmChange(parent, role, roles)">
                  <img expire="{{30}}"
                       ng-src="{{parent.pic}}">
                  <span class="parent-name">{{parent.name}}</span>
                </div>
              </div>
            </td>
            <td class="remove-role">
              <a class="remove-button button button-assertive button-small"
                 ng-click="removeRole(role)">
                <i class="icon ion-android-person-subtract"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <a id="add-role"
         class="add-button"
         ng-click="addRole()">
        <i class="icon ion-android-person-add"></i>
        <div id="adminwarp">Admin</div>
      </a>
    </div>
    <!-- <div class="note-wrapper cf">
      <h4 class="note-callout">Note:</h4>
      <p class="note">Add role names here for those who you want to have admin rights.</p>
    </div>
    <div class="note-wrapper cf">
      <h4 class="note-callout">Note:</h4> 
      <p class="note">Changing the user for an existing role revokes their rights and assigns a new user</p>
    </div>  -->
  </ion-content>
  <ion-footer-bar>
    <div class="powered-by">
      Powered by
      <img class="apparent-logo" src="img/apparent_noTagline.svg">
    </div>
  </ion-footer-bar>
</ion-view>
<script type="text/ng-template" id="dropdown"><img ng-src="user.pic">{{user.name}}</script>
<script type="text/ng-template" id="selector">{{user.name}}</script>







