<ion-view view-title="Profile" class="profile">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <div class="tall white-font bar bar-header bar-positive">
    <div ng-if="user.pic.length > 1">
        <img class="profile-pic"
             ng-click="getImage()"
             encode-uri="false"
             expire="{{60}}"
             ng-src="{{user.pic}}">
    </div>
    <div class="profile-pic user-initial"
         ng-if="user.pic.length === 1"
         ng-click="getImage()">
         {{ user.pic }}
    </div>
    <i class="icon ion-ios-camera"><span>EDIT</span></i>
    <div id="name-wrap"
         class="editable-wrap"
         font="normal 19px Roboto">
      <h3 id="name"
          class="title title-center"
          editable-text="user.name"
          e-class="user-name"
          onhide="showEditIcon()"
          e-ng-focus="hideEditIcon($event);hideContact()" 
          e-placeholder="Enter your full name"
          onaftersave="editSubmit(user.name, 'name')">
          {{ user.name }}
      </h3>
      <i class="icon ion-edit"><span>EDIT</span></i>
    </div>
  </div>
  <a id="add-child" class="add-button" ng-click="addChild()">
    <i class="icon ion-android-person-add"></i>
    <div id="childwarp">Child</div>
  </a> 
  <ion-content class="content-body has-tall-header has-footer padding"
               overflow-scroll="false">
    <div class="school-wrapper">
      <div id="school-display-name"
           ng-if="!hideDisplayName"
           ng-click="editSchool()"
           >
           {{school.name}}
        <i class="icon ion-edit"><span>EDIT</span></i>
      </div>
      <md-autocomplete id="school-name"
                       ng-if="hideDisplayName"
                       placeholder="Your School Name"
                       font="bold 24px Roboto"
                       md-selected-item="school"
                       md-input-id="md-school-input"
                       md-selected-item-change="editSubmit(school)"
                       md-search-text="searchText"
                       md-items="school in querySchools(searchText)"
                       md-item-text="school.SCHNAM09">
        <md-item-template>
          <span md-highlight-text="searchText">{{school.SCHNAM09}}</span>
        </md-item-template>
        <md-not-found>No matches found.</md-not-found>
      </md-autocomplete>
    </div>
    <div class="children">
      <div ng-repeat="(key, child) in user.children track by key" class="child">
        <div class="child-header cf">
          <h5 class="teacher">{{child.teacher}}</h5>
          <label class="grade-wrapper">
            <span>EDIT
              <i class="icon ion-edit"></i>
            </span>
            <select type="number"
                    class="grade-number"
                    name="grade-level"
                    ng-change="editSubmit(user.children[key].grade, 'children/' + key + '/grade')"
                    ng-model="user.children[key].grade"
                    ng-options="key for (key,value) in grades">
              <option value=""
                      disabled
                      selected>
                      Current grade level
              </option>
            </select>
            <h5 class="grade">grade</h5>
          </label>
        </div>
        <div class="child-body">
          <div ng-if="child.pic.length > 1">
              <img class="profile-pic child-pic"
                   ng-model="user.children[key].pic"
                   ng-click="getImage('children/' + key + '/pic')"
                   encode-uri="false"
                   expire="{{60}}"
                   ng-src="{{child.pic}}">
          </div>
          <div class="child-initial"
               ng-if="child.pic.length === 1"
               ng-model="user.children[key].pic"
               ng-click="getImage('children/' + key + '/pic')">
               {{ child.pic }}
          </div>
          <i class="icon ion-ios-camera"><span>EDIT</span></i>
          <a class="remove-child"
             ng-click="removeChild(key)">
            <i class="icon ion-android-person-subtract"></i>
          </a> 
        </div>
        <div class="child-footer">
          <div id="name-wrap"
               class="editable-wrap"
               font="normal 19px Roboto">
            <h3 id="name"
                class="title title-center"
                editable-text="user.children[key].name"
                e-class="user-name"
                onhide="showEditIcon()"
                e-ng-focus="hideEditIcon($event);hideContact()"
                e-placeholder="Child's full name"
                onaftersave="editSubmit(child.name, 'children/' + key + '/name')">
                {{ child.name }}
            </h3>
            <i class="icon ion-edit"><span>EDIT</span></i> 
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div id="profile-footer"
       class="contact-info footer-bar"
       keyboard-attach>
    <div class="footer-label bar-subfooter"
                    ng-if="showFooter">
      <h4 class="title">Contact</h4>
    </div>
    <div class="editable-wrap" 
         ng-if="showEmail">
      <i class="icon ion-email"><span>EDIT</span></i>
      <p editable-email="user.email"
         e-class="user-email"
         e-ng-focus="hideContact('phone')"
         onaftersave="editSubmit(user.email, 'email')">
        {{ user.email }}
      </p>
    </div>
    <div class="editable-wrap"
         ng-if="showPhone">
      <i class="icon ion-ios-telephone"><span>EDIT</span></i>
      <p class="tel"
         editable-tel="user.phone"
         e-class="user-phone"
         e-ng-focus="hideContact('email')"
         e-placeholder="Enter your phone number"
         onaftersave="editSubmit(user.phone, 'phone')">
        {{ user.phone || 'Enter your phone number' }}
      </p>
    </div>
  </div>
</ion-view>
 