<ion-view class="profile">
  <div align-title="center" class="tall white-font bar bar-header bar-positive">
    <div class="icon_wrapper" ng-if="!user.pic">
      <i class="ion-person" ng-click="getImage()"></i>
    </div>
    <div class="pic_frame">
      <img class="profile-pic" ng-click="getImage()" ng-if="user.pic" ng-src="{{user.pic}}"></img>
    </div>
    <input ng-model="user.pic" base-sixty-four-input style="display:none">
    <h3 id="name"
        class="title title-center"
        editable-text="user.name"
        e-class="user-name" 
        e-placeholder="Enter your full name"
        onaftersave="editSubmit(user.name, 'name')">
        {{user.name}}
    </h3>
  </div>
  <ion-content class="has-tall-header padding">
    <div class="contact-info">
      <h4 class="subtitle">Contact</h4>
      <div class="editable-group">
        <label for="email">Email</label>
        <p editable-email="user.email"
           onaftersave="editSubmit(user.email, 'email')"
           >
          {{ user.email }}
        </p>
      </div>
      <div class="editable-group">
        <label ng-show="!user.phone">Phone</label>
        <p id="phone-type"
           ng-show="user.phone"
           editable-select="user.phone_type"
           e-ng-change="phoneTypeStyle()" 
           e-ng-options="type.value as type.text for type in phoneTypes"
           onaftersave="editSubmit(user.phone_type, 'phone_type')">
          {{ phoneType() }}
          <i class="ion-edit" ng-click="phoneTypeEdit.$show()" style="display:none;"></i>
        </p>
        <p editable-tel="user.phone"
           e-placeholder="Enter your phone number"
           onaftersave="editSubmit(user.phone, 'phone')">
          {{ user.phone || 'Enter your phone number' }}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
