<ion-view title="Get Involved">
  <ion-content>
    <ion-list class="events">
      <ion-item ng-repeat="event in events">
        <h2 class="event_title">{{event.event_title}}</h2>
        <img class="event_img" ng-src="{{event.image}}" ng-show="event.image"></img>
        <p class="event_description">{{event.description}}</p>
        <h4 class="needed">Uncovered Volunteer Hours: {{event.volunteer_hours}}</h4>
        <button class="button button-small button-balanced" ng-click="openModal()">Help Out</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
